<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        <h1>All Resorts</h1>
        <div><a href="/resorts/new">Add new</a></div>
        <ul>
            <% for(let resort of resorts){ %>
                <a href="/resorts/<%=resort._id%> "><li><%= resort.title %> </li> </a>
            <% } %> 
        </ul>
    </body>
</html>